@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


@using EFAGT;

@model  EFAGT.Models.ViewModele

<h2>InsertionTicket</h2>

@using (Html.BeginForm("InsertionTicket", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row form-group">
        <div class="col-md-6">
            @Html.EditorFor(model => model.visualisationTickets.FirstOrDefault().idTicket, new { htmlAttributes = new { @type = "hidden", @class = "form-control", @Value = "1" } })
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>

}