@{
    ViewBag.Title = "InsertionTicket";
}


@using EFAGT;

@model  EFAGT.Models.ViewModele

<h2>InsertionTicket</h2>

@using (Html.BeginForm("InsertionTicket", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="row form-group">
    <div class="col-md-6">
        @Html.EditorFor(model => model.visualisationTickets.FirstOrDefault().idTicket, new { htmlAttributes = new { @type = "hidden", @class = "form-control", @Value = "1" } })
    </div>
 </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.visualisationTickets.FirstOrDefault().emplacementMaterielTicket, htmlAttributes: new { @class = "control-label col-md-6" })
            @Html.EditorFor(model => model.visualisationTickets.FirstOrDefault().emplacementMaterielTicket, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>

    }
